* {
    box-sizing: border-box;
    color: var(#7AB730);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
    color: #656565;
    background-color: #F3F3F3;
}

.container-fluid {
    padding: 0;
    display: block;
}

.container {
    border: 1px solid black;
}
.text-primary{
    color: #7AB730 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    color: #212121;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color: #527a20;
}
a.text-primary:hover, a.text-primary:focus {
    color: #527a20 !important;
}
ul li {
    list-style: none;
    text-align: left;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
.bg-primary {
    background-color: #7AB730 !important;
}

.heading span {
    color: #7AB730;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}

.Booking {
    padding-bottom: 48px;
}

.About,
.Feature,
.Destination,
.Service,
.Package,
.contact,
.team,
.testminoal,
.blog {
    padding-top: 48px;
    padding-bottom: 48px;
}

.img-fulid {
    max-width: 100%;
    height: auto;
}

.fa {
    font-size: 18px;
    color: #7AB730;
}
.fa:hover{
    color: #fff;

}

p {
    color: #656565;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #656565;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
}

.btn-primary {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
    margin-top: 4px;
    padding: 16px 48px 16px 48px;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: #b8e087;
    background-color: #669928;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(122 183 48 / 25%);
    text-decoration: none;
}

.custom-select {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    background-clip: border-box;
    box-shadow: none !important;
    height: 47px;
    background: transparent;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b8e087;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(122 183 48 / 25%);
}

/* Header */
.head {
    padding-top: 15px;
    padding-bottom: 27px;
    background-color: #fff;
    line-height: 1.5;
}

.book-info {
    align-items: center;
    display: inline-flex !important;
}

.text-body {
    color: #656565;
    padding-left: 16px;
    padding-right: 16px;
}

.social-icons {
    text-align: right;
}

.social-icons ul {
    text-decoration: none;
    display: inline-flex;
}

.social-icons ul li a {
    padding-left: 16px;
    padding-right: 16px;
    color: #7AB730;
}

.social-icons ul li a:hover {
    color: #28a745;
}

/* Header : the end */
/* Menu */
.nav-bar {
    position: relative;
}

nav.navbar {
    position: absolute;
    background-color: #ffffff !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    padding-left: 48px !important;
    padding-right: 16px !important;
    padding-bottom: 5px !important;
    bottom: -50px;
    z-index: 2;
    width: 96%;
}

h1.text-primary {
    color: #7AB730 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
    color: #212121 !important;
    font-weight: 500;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #7AB730 !important;
}

/* Menu: the end*/
/* slider */
.owl-item-slider-1 {
    background-image: url(../image/carousel-1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 270px;
    padding-bottom: 400px;
}

.owl-item-slider-2 {
    background-image: url(../image/carousel-2.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 270px;
    padding-bottom: 400px;
}

.slide-content {
    position: absolute;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slide-content span {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.slide-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

/* slider: the end */
/* Booking */
.Booking {
    position: relative;
    margin-top: -60px;
    z-index: 1;
}

.input-group-text {
    background-color: transparent;
    border: none !important;
    border-radius: 0;
}

.custom-select:focus {
    border-color: #b8e087;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(122 183 48 / 25%);
}

button.btn {
    border-radius: 0px !important;
}

/* Booking: the end */
/* About */
.About {
    position: relative;
}

.about-img img {
    width: 100%;
    object-fit: cover;
}

.about-us {
    margin-top: 120px;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: #fff;
    margin-left: -120px;

}

.about-us span {
    color: #7AB730;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.about-us h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}

/* About : the end */
/* Feature */
.Feature-txt {
    display: flex;
}

.Feature-icons {
    display: flex;
    background-color: #7AB730;
    width: 100px;
    height: 100px;
    padding: 40px;
    margin-right: 16px;
}

.Feature-icons .fa {
    font-size: 32px;
    font-weight: 900;
    margin-right: 105px;
}

.Feature-info {
    color: #212121;
    font-weight: 500;
}

/* Feature: the end */
/* Destination */
.destination-item img {
    transition: 0.5s;
    transform: scale(1);
}

.destination-item:hover img {
    transform: scale(1.3);
}

.destination-overlay a span {
    margin-left: 20px;
}

.destination-overlay {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    z-index: 1;
}

.destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
}

/* Destination : the end */
/* Service */
.Service-item {
    background-color: #fff;
    padding: 48px 17px 48px 17px;
}

.Service-item .fa {
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #7AB730;
    font-size: 32px;
    transition: 0.5s;
    margin: auto;
    margin-bottom: 16.5px;
}

.Service-item:hover i {
    background-color: #7AB730;
    color: #fff;
}

.Service-item:hover {
    box-shadow: 0 0 30px #cccccc;
}

.Service-item p {
    text-align: center !important;
}

.Service .heading {
    margin-bottom: 16px;
}

/* Service : the end */
/* Package : start */
.package-item {
    margin-bottom: 8px;
    transition: 0.5s;
}

.package-item:hover {
    box-shadow: 0 0 30px #cccccc;
}

.package-text {
    padding: 20px !important;
    margin-bottom: 24px;
}

.package-icons {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 16px;
}

/* Package : the end */
/* Contact */
.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/carousel-1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 48px;
}

.contact-head h1 {
    font-weight: 700 !important;
}

.heading {
    padding-top: 48px;
    padding-bottom: 48px;
}

.heading h1 span {
    font-size: 39px;
    font-weight: 700;
}

.heading ul {
    padding-left: 0;
}

.heading ul li a {
    margin-right: 15px !important;
}

.btn-primary-1 {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
    margin-top: 4px;
    padding: 16px 170px 16px 160px;
}

.btn-primary-1:hover,
.btn-primary-1:focus {
    border-color: #b8e087;
    color: #fff;
    background-color: #669928;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(122 183 48 / 25%);
    text-decoration: none;
}
.btn-outline-primary {
    color: #7AB730;
    border-color: #7AB730;}
/* Team */
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
    text-decoration: none;
    border-radius: 1px ;
}
.btn-outline-primary {
    color: #7AB730;
    border-color: #7AB730;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
}
.team-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
}

.team-item:hover .team-social {
    background: rgba(0, 0, 0, 0.5);
}

.team-item:hover .team-social a.btn:first-child,
.team-item:hover .team-social a.btn:nth-child(2),
.team-item:hover .team-social a.btn:nth-child(3),
.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item .team-img img {
    transition: .5s;
}

.team-item:hover .team-img img {
    transform: scale(1.2);
}
/* Team : the end */
/* testimonial */


/* testimonial: the end */
/* Blog  */
.blog{
    margin-bottom: 85px !important;
}
.blog-date{
    position: absolute;
    width: 60px;
    height: 45px;
    top: 30px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #7AB730;
}
.blog-date::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border: 8px solid;
    border-color: transparent #5f8f25 #5f8f25 transparent;
    z-index: -1;
}
.blog-date h6{
    font-weight: 700 !important;
    margin-bottom: -0.25rem !important;
}
.blog-admin{
    margin-bottom: 12px;
}
/* Blog : the end */
/* footer and copyright */
.footer .icons a{
    border-radius: 1px;
   margin-right: 5px;
}
.footer ul li a{
    margin-right: 10px;
}
.input-group-append button.btn-primary{
    margin-top: 0 !important;
    padding-bottom: 10px !important;
}
p.link{
    text-align: right !important;
}
.Usefull-link a{
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}
.Usefull-link a:hover{
 text-decoration: underline;
}
#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #7AB730;
    color: #fff;
    background-color: #7AB730;
    cursor: pointer;
    z-index: 15;
    transition: 0.5s;
}

#scroll-Top .return-to-top:hover {
    color: #fff; 
    background-color: #669928;
    border-color: #5f8f25;
}