*{
    color: var(#7AB730);
}
body{
    font-family: 'Poppins', sans-serif
}
.container{
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 3px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    text-align: left;
}
small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.Booking{
    padding-bottom: 48px;
}
.About,.Feature,.Destination,
.Service,.Package,.contact,.team,.testminoal,
.blog{
    padding-top: 48px;
    padding-bottom: 48px;
}
.heading{
    margin-bottom: 3px !important;
    padding-bottom: 3px !important;
    padding-top: 95px;
}
.heading span{
    color: #7AB730;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.heading h2{
    font-size:40px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}
.fa{
    font-size: 18px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #656565;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #656565;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
}
.btn-primary {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
    margin-top: 4px;
}
/* Header */
.head{
    padding-top: 16px;
    display: flex;
}
.book-info{
 align-items: center;
 display: inline-flex !important;
}
.text-body{
    color: #656565;
    padding-left: 16px;
    padding-right: 16px;
}
.social-icons{
    text-align: right;  
}
.social-icons ul{
    text-decoration: none;
    display: inline-flex;
}
.social-icons ul li a{
    padding-left: 16px;
    padding-right: 16px;
    color: #7AB730;
}
/* Header : the end */
/* Menu */
/* .Menu{
    position: relative;
    padding: 0;
}
nav.navbar{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #ffffff !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.Menu:before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 25;
    left: 0;
    background-color: #ffffff;

} */
h1.text-primary{
    color: #7AB730 !important;
}
 
/* Menu: the end*/
/* About */
.about-img{
    position: relative;
    height: 100%;
}
.about-img img{
    width: 100%;
    object-fit: cover;
}


/* About : the end */